@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<MvcApplication1.Model.SearchViewModel>

<div class="container">
    <div class="row">
        <div class="col-md-3 specs-container searchcar">
            <h3>Find a Vehicle</h3>
            <div class="search-condition">
                <div class="search-row">
                    <label>Make</label>
                    <div>@Html.DropDownListFor(m => Model.Make, Model.Makes)</div>
                </div>
                <div class="search-row">
                    <label>Model</label>
                    <div>@Html.DropDownListFor(m => Model.Model, Model.Models)</div>
                </div>

                <div class="search-row">
                    <label>Body Type</label>
                    <div>@Html.DropDownListFor(m => Model.BodyType, Model.BodyTypes)</div>
                </div>

                <div class="search-row">
                    <label>Fuel Type</label>
                    <div>@Html.DropDownListFor(m => Model.FuelType, Model.FuelTypes)</div>
                </div>

                <div class="search-row">
                    <label>Transmission</label>
                    <div>@Html.DropDownListFor(m => Model.Transmission, Model.Transmissions)</div>
                </div>

                <div class="search-row">
                    <label>Year</label>
                    <div class="row">
                        <div class="col-xs-6">@Html.DropDownListFor(m => Model.MinYear, Model.Years)</div>
                        <div class="col-xs-6">@Html.DropDownListFor(m => Model.MaxYear, Model.Years) </div>
                    </div>
                </div>
                <div class="search-row">
                    <label>Price</label>
                    <div class="row">
                        <div class="col-xs-6">
                            @Html.DropDownListFor(m => Model.MinPrice, Model.Prices)
                        </div>
                        <div class="col-xs-6">
                            @Html.DropDownListFor(m => Model.MaxPrice, Model.Prices)
                        </div>
                    </div>
                </div>
                <div><label>Engine Size</label></div>
                <div class="row">
                    <div class="col-xs-6">
                        @Html.DropDownListFor(m => Model.MinEngineSize, Model.EngineSizes)
                    </div>
                    <div class="col-xs-6">
                        @Html.DropDownListFor(m => Model.MaxEngineSize, Model.EngineSizes)
                    </div>
                </div>

                <div class="form-footer end-form">
                    <button type="button" class="btn" name="reset" id="reset">Reset</button>
                    <button type="submit" class="btn" name="search" id="search">Search</button>
                </div>
            </div>
        </div>
        <div id="searchresult" class="col-md-9 specs-container">
            @if (Model.SearchResults.Any())
                {
                    var itemIndex = 0;
                    foreach (var item in Model.SearchResults)
                    {
                        char[] splitChar = { ',' };
                        string[] ids = item.Photos.ToString().Split(splitChar, StringSplitOptions.RemoveEmptyEntries);

                        string headPhotoId = "";

                        if (ids.Length > 0)
                        {
                            headPhotoId = ids[0];
                        }

                <div class="col-md-4 specs-container">
                    <article>
                        <a href="~/Car?Id=@item.Id" class="CarTitle">
                            <img width="100%" src="@Umbraco.Media(headPhotoId).Url" />
                        </a>
                    </article>

                    <article>
                        <div class="spectitle"><a href="~/Car?Id=@item.Id" class="CarTitle mediumvioletred-color">@item.Name</a></div>
                    </article>
                    <article>
                        <div class="spectitle mediumvioletred-color">@string.Format("{0:C}", item.Price)</div>
                    </article>
                    <article>
                        <div class="spectitle">@item.ShortDescription</div>
                    </article>
                </div>
                        itemIndex++;
                        if (itemIndex % 3 == 0)
                        {
                <div class="clearfix hidden-sm"></div>
                        }
                    }
                }

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var selectMake = $("select#Make");
        var selectFuelType = $("select#FuelType option");
        var selectBodyType = $("select#BodyType option");
        var selectTransmission = $("select#Transmission option");
        var selectMinYear = $("select#MinYear option");
        var selectMaxYear = $("select#MaxYear option");
        var selectMinPrice = $("select#MinPrice option");
        var selectMaxPrice = $("select#MaxPrice option");
        var selectMinEngineSize = $("select#MinEngineSize option");
        var selectMaxEngineSize = $("select#MaxEngineSize option");

        selectMinEngineSize.eq(0).text("Min CC");
        selectMaxEngineSize.eq(0).text("Max CC");

        selectMinYear.eq(0).text("Min Year");
        selectMaxYear.eq(0).text("Max Year");

        selectMinPrice.eq(0).text("Min Price");
        selectMaxPrice.eq(0).text("Max Price");

        var options = [];
        selectMake.find('option').each(function () {
            options.push({ value: $(this).val(), text: $(this).text() });
        });

        selectMake.change(function (e) {
            var filter = $(this).val();
            $('select#Model').val("");
            $('select#Model>option').each(function () {
                if ($(this).val() == filter) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });

        $("#reset").click(function () {
                $("select").each(function () { this.selectedIndex = 0 });
           });

        $("#search").click(function () {
            var currentNodeId = Global.currentNodeId;
            var make = selectMake.val();
            var model = "";
            var selectedModel = $('select#Model option:selected');
            if (selectedModel.val())
                model = selectedModel.text();

            var data = {
                CurrentNodeId: currentNodeId,
                Make: make,
                Model: model,
                BodyType: $("select#BodyType").val(),
                FuelType: $("select#FuelType").val(),
                Transmission: $("select#Transmissions").val(),
                MinYear: $("select#MinYear").val(),
                MaxYear: $("select#MaxYear").val(),
                MinPrice: $("select#MinPrice").val(),
                MaxPrice: $("select#MaxPrice").val(),
                MinEngineSize: $("select#MinEngineSize").val(),
                MaxEngineSize: $("select#MaxEngineSize").val()
            };

            $.post("/umbraco/Surface/Car/Search", data, function (result) {
                $("#searchresult").html(result);
            });
        });
    });
</script>
